<strong>Olá, {{ meetupOwner }}</strong>
<p>Um usuário acabou de se inscrever em seu MeetUp, confira os detalhes:</p>
<p>
  <strong>MeetUp:</strong> {{ meetupTitle }} <br />
  <strong>Usuário:</strong> {{ userName }} &lt;{{ userEmail }}&gt;<br />
</p>
